.bodyy{
    display: grid;
    place-items: center;
    margin: 10px 0;
    /* min-height: 100vh; */
}
.containerr {
    width: 1200px;
    height: 500px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
   
}
.single{
    padding: 0 4rem;
    display: grid;
    place-content: center;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    transition: 500ms ease-in-out width;
}
.single::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgb(0, 0, 0, 0.3) ;
    transition: 500ms ease-in-out background-color;
}
.single:nth-child(1){
    background-image: url(https://images.unsplash.com/photo-1647462659318-1e9702f92b5b?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.single:nth-child(2){
    background-image: url(https://images.unsplash.com/photo-1535732759880-bbd5c7265e3f?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.single:nth-child(3){
    background-image: url(https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.single:nth-child(4){
    background-image: url(https://images.unsplash.com/photo-1611974789855-9c2a0a7236a3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.single:nth-child(5){
    background-image: url(https://images.unsplash.com/photo-1494412685616-a5d310fbb07d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.single:nth-child(6){
    background-image: url(https://images.unsplash.com/photo-1554224154-22dec7ec8818?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.content {
    transform: rotate(-90deg);
    transition: 500ms ease-in-out transform;
}

.content p{
    /* background-color: rgba(0, 0, 0, 0.7); */
    color: #fff;
    padding: 0;
    height: 0;
    overflow: hidden;
    width: 300px;
    justify-content: center;
    transition: 500ms ease-in-out height,
                500ms ease-in-out padding;
}

.content button{
    display: none;
}

.content h2{
    text-align: center;
    color: #f0f8ff;
    text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    transform: scale(2.5);
    transition: 500ms ease-in-out transform;
}

.single:hover{
    width: 500px;
}

.single:hover::before{
    background-color: rgba(0, 0, 0, 0.7);
}

.single:hover .content {
    transform: rotate(0);
}

.single:hover h2{
    transform: scale(1);
}

.single:hover p{
    height: fit-content;
    margin-bottom: 10px;
}

.single:hover button{
    display: block;
    transform: rotate(0);
}


  /* Responsive styles */

@media screen and (max-width: 1200px) {
    body{
        margin: 0;
        padding: 0;
    }
    .containerr{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .single {
        padding: 0;
        width: 80%;
        height: 100px;
    }
    
    .content{
        margin: 0;
        transform: rotate(0deg) translateX(0%) translateY(0%);
        transform-origin: center; /* Adjust this line */
        place-content: center;
    }

    .single:hover {
        padding: 0;
        width: 80%;
        height: 400px;
    }

    .single .content h2 {
        font-size: 0.8rem;
    }

    .single .content p {
        font-size: smaller;
        width: 500px;
        justify-content: center;
    }

    
}

@media  screen and (max-width: 650px) {
    .bodyy{
        display: none;
    }
}